.headerimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.navbar_bg {
    background-color: #232946;
    opacity: .9;
}

.header-color {
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: 600;
    background-color: #b8c1ec;
    padding: 8px 20px !important;
    border: 1px solid #fffffe;
    margin-right: 10px;
}

.logo-name {
    padding-top: 10px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.8px;
}

.logout {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: #b8c1ec
}

.logout:hover {
    color: rgb(194, 193, 193);
}

.word-color {
    color: #ff8906;
}

.username {
    margin-right: 10px;
    color: rgb(145, 142, 142);
}

.username:hover {
    color: rgb(194, 193, 193);
}