.experience {
    padding: 60px;
    background-color: #0f0e17;
}

.experience i {
    font-size: 45px;
    margin: 10px 0;
    color: #b8c1ec;
}

.experience h4 {
    text-align: center;
    margin: 5px 0;
    color: #b8c1ec;
}

.experience h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fffffe;
}

.experience-card {
    text-align: center;
    background-color: #232946;
    padding: 20px 12px !important;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    transition: all .2s linear;
}

.experience-card:hover {
    border: 1px solid #b8c1ec;
}

.experience-card h2 {
    color: #fffffe;
    margin: 10px 0;
}

.experience-card p {
    color: #ffffff;
}