.about-banner {
    background-image: url(https://image.freepik.com/free-psd/travel-world-inspirational-lettering-quote-with-airplane-toys_23-2148212925.jpg);
    background-size: 100% 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-content {
    padding: 40px 60px;
    opacity: .8;
    width: 50%;
    background-color: black;
}

.about-banner h1 {
    color: #b8c1ec;
    font-size: 50px;
    font-weight: 800;
}

.about-banner p {
    color: #eebbc3;
}